@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 62% 100%;
    --foreground: 205 59% 4%;
    --muted: 325 8% 89%;
    --muted-foreground: 325 4% 31%;
    --popover: 205 62% 100%;
    --popover-foreground: 205 59% 4%;
    --card: 0 0% 99%;
    --card-foreground: 205 59% 3%;
    --border: 205 3% 93%;
    --input: 205 3% 93%;
    --primary: 205 74% 90%;
    --primary-foreground: 205 74% 30%;
    --secondary: 325 74% 90%;
    --secondary-foreground: 325 74% 30%;
    --accent: 85 74% 90%;
    --accent-foreground: 85 74% 10%;
    --destructive: 4 88% 32%;
    --destructive-foreground: 4 88% 92%;
    --ring: 205 74% 90%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 205 43% 4%;
    --foreground: 205 20% 99%;
    --muted: 325 8% 11%;
    --muted-foreground: 325 4% 69%;
    --popover: 205 43% 4%;
    --popover-foreground: 205 20% 99%;
    --card: 205 43% 5%;
    --card-foreground: 0 0% 100%;
    --border: 205 3% 11%;
    --input: 205 3% 11%;
    --primary: 205 74% 90%;
    --primary-foreground: 205 74% 30%;
    --secondary: 325 74% 90%;
    --secondary-foreground: 325 74% 30%;
    --accent: 85 74% 90%;
    --accent-foreground: 85 74% 10%;
    --destructive: 4 88% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 205 74% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
